<Configuration>
<Appenders>
<Console name="Console" target="System_out">
<PatternLayout>
<pattern>
[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
</pattern>
</PatternLayout>
</Console>
<File name= "File" fileName= "C:/Users/Anthony/Desktop/Banklogging.log">
<PatternLayout>
<pattern>
[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
</pattern>
</PatternLayout>
</File>
</Appenders>
<Loggers>
<Logger name= "com.revature.LoggingExample" level= "info" additivity = "false">
<AppenderRef ref="Console" />
<AppenderRef ref= "File"/>
</Logger>
<Root>
<AppenderRef ref="Console" />
<AppenderRef ref= "File"/>
</Root>
</Loggers>
</Configuration>
