<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
    	<JDBC name="databaseAppender" tableName="LOGS">
     		 <ConnectionFactory class="com.revature.util.ConnectionFactory" method="getConnection" />
      		 <Column name="LOG_DATE" isEventTimestamp="true"/>
      		 <Column name="LOGGER" pattern="%logger" />
      		 <Column name="LOG_LEVEL" pattern="%level"/>
      		 <Column name="MESSAGE" pattern="%message" />
        </JDBC>
        <File name="File" fileName="C:/Users/prest_000/Desktop/Aug27Pega-USF/hmm/BatchSource/javabank/loggingsql.log">
            <PatternLayout>
                <Pattern>
                    [ %-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </Pattern>
            </PatternLayout>
        
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.PrestonL.sqlBank.Driver" level = "debug" additivity= "false">
            <AppenderRef ref = "File"/>
            <AppenderRef ref = "databaseAppender"/>
        </Logger>
        <Root>
            <AppenderRef ref = "File"/>
            <AppenderRef ref = "databaseAppender"/>
        </Root>
    </Loggers>          
</Configuration>