<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
	<Console name="Console" target="System_out">
		<PatternLayout>
			<Pattern>
			[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
			</Pattern>			
		</PatternLayout>
	</Console>
	<File name="File" fileName="TransactioLog.log">
	<PatternLayout>
	<Pattern>
	[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
	</Pattern>
	</PatternLayout>
	</File>
	
	<!-- <JDBC name="databaseAppender" tableName="TRANSACTION_TABLE">

     		 <ConnectionFactory class="com.revature.util.ConnFactory" method="getConnection" />

     		 <Column name="TRANS_ID"  pattern="%x{user_id}"/>

      		 <Column name="DATE_LOG" isEventTimestamp="true"/>

      		 <Column name="LOGGER" pattern="%logger" />

      		 <Column name="LOGLEVEL" pattern="%level"/>

      		 <Column name="MESSAGE" pattern="%message" />

        </JDBC> -->
	</Appenders>
	
	
	
	<Loggers>
		<Logger name="com.revature.daoimpl.UserAccountsDAOImpl" level="info" additivity="false">
		<AppenderRef ref="Console"/>
		<AppenderRef ref="File"/>		
		</Logger>
		<Root>
		<AppenderRef ref="Console"/>
		<AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>
