<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="System_out">
			<PatternLayout>
				<Pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</Pattern>
			</PatternLayout>
		</Console>
		<File name="File" fileName="log.txt">
			<PatternLayout>
				<Pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</Pattern>
			</PatternLayout>
		</File>
		
	</Appenders>
	<Loggers>
		<Logger name="TransactionLogger" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="myDB"/>
		</Logger>
		<Root>
			<AppenderRef ref="Console"/>
			<AppenderRef ref="myDB"/>
		</Root>
	</Loggers>
</Configuration>