.btn{
    float: right;
    background-color: green;
}
body,html{
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 5, 83);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
form.Cityscape2{
    background: url('Cityscape2.jpg');
    background: cover;
    background-size: 100%;
} 