body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../pics/white_feathers.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}
.btn{
  font-size: large;
}